@import variables

.banner-card
    h1
        font-size: $card-font-size



.service-card
    color: $card-foreground
    height: 250px
    width: 350px
    background-color: $card-background
    margin: 20px 5px
    display: flex
    align-items: center
    //cursor: pointer

//.service-card:hover
//    box-shadow: 0 0 10px rgba(0,0,0,0.5)

.service-card
    h1
        font-size: $card-font-size

.service-card
    span
        height: 50px
        width: 50px

.service-card
    h1
        height: 100px
        width: 350px
        display: table-cell
        vertical-align: middle

.workCards
    margin: 10px 30px
    cursor: pointer
    width: 250px

.workCards
    img
        height: 150px
        object-fit: cover
        border: 1px solid $card-background


.workCards
    div
        border: 1px solid $card-background
        background-color: $card-background !important
        border-top: 0

.workCards:hover
    box-shadow: 0 0 10px rgba(0,0,0,0.5)

.advantage-card
    background-color: $card-background
    width: 250px
    height: 300px
    margin: 20px

.advantage-card
    span
        width: 250px
        height: 150px

.advantage-icons
    width: 200px
    height: 200px

#workEx
    color: white !important

.examplesCards *
    background-color: $card-background

.examplesCards
    margin: 20px 0
