@import variables

.service-card
    display: table-cell
    text-align: center
    vertical-align: middle
    color: $card-foreground
    height: 350px
    width: 350px
    background-color: $card-background
    margin: 20px 50px

.service-card
    span
        height: 50px
        width: 50px

.service-card
    h1
        height: 100px
        width: 350px
        display: table-cell
        vertical-align: middle

.workCards
    margin: 10px 30px
    cursor: pointer
    width:250px

.workCards
    img
        border: 1px solid rgb(212, 212, 212)


.workCards
    div
        border: 1px solid rgb(212, 212, 212)
        border-top: 0px
