@import variables

.advantages
    height: 400px
    overflow: hidden
    background-image: url("/images/resources/motor.jpg")
    margin: 0 150px 150px
    color: $main-font-color

#rec
    margin: 0 auto


.rec_text
    margin: 15px 0
    outline: 5px solid rgba(0, 0, 0, 0)

.rec_text
    h2
        background-color: $background

.check_icon
    background-image: url("/images/icons/check.png")

