@import variables

#advantages_header
    text-align: center
    font-weight: bold
    color: white


.advantages
    overflow: hidden
    background-image: url("/images/resources/motor.jpg")
    margin: 0 150px 150px
    color: $main-font-color

#rec
    margin: 0 auto
    margin-top: 20px
    margin-bottom: 20px

#rec
    tr
        vertical-align: middle

#rec
    tr
        *
            margin: 0


.rec_text
    margin: 15px 0
    outline: 5px solid rgba(0, 0, 0, 0)

.rec_text
    h2
        background-color: $background

.check_icon
    background-image: url("/images/icons/check.png")

