body {
  background-color: #343a40;
}

.hList {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  color: white;
  list-style-type: none !important;
}

#indexList {
  padding: 0 !important;
  margin-top: 0 !important;
}

#banner {
  width: 100%;
  margin: 0;
  margin-top: 0;
  background: white url(/images/baner2.jpg?883d22c5534ac4afb736878204b36687) center;
  background-repeat: no-repeat;
  position: relative;
}

.bannerh1 {
  position: absolute;
  vertical-align: middle;
  background-color: #343a40;
  top: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  font-size: 72px;
  color: white;
}

#banner ul {
  padding: 0 !important;
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  background-color: #343a40;
}

@-webkit-keyframes slideinH1 {
  0% {
    font-size: 0px;
    color: #343a40;
  }
  50% {
    font-size: 72px;
    color: #343a40;
  }
  100% {
    color: white;
  }
}

@keyframes slideinH1 {
  0% {
    font-size: 0px;
    color: #343a40;
  }
  50% {
    font-size: 72px;
    color: #343a40;
  }
  100% {
    color: white;
  }
}
#banner h2 {
  position: absolute;
  vertical-align: middle;
  background-color: #343a40;
  top: 50%;
  left: 50%;
  right: 10%;
  text-align: center;
  font-size: 40px;
  color: white;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slideinH2;
          animation-name: slideinH2;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes slideinH2 {
  0% {
    font-size: 0px;
    color: #343a40;
  }
  50% {
    font-size: 40px;
    color: #343a40;
  }
  100% {
    color: white;
  }
}

@keyframes slideinH2 {
  0% {
    font-size: 0px;
    color: #343a40;
  }
  50% {
    font-size: 40px;
    color: #343a40;
  }
  100% {
    color: white;
  }
}
.logo {
  width: 30%;
  height: 75px;
  background-image: url(/images/logo.png?d0beee430b85723df078c926f7b939cc);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
}

#servicesRow {
  background-color: #343a40;
  width: 100%;
  margin: 0 auto !important;
}

#exampleRow {
  background-color: #343a40;
  width: 100%;
  margin: 0 auto !important;
}

#services {
  background-color: #343a40;
  margin: 0 auto !important;
}

#example {
  background-color: #343a40;
  margin: 0 auto !important;
}

#generic-price div {
  background-color: #343a40;
}

.cards {
  margin-bottom: 20px;
}

.prices img {
  width: 100px;
  height: 100px;
}

.prices h5 {
  margin-top: 30px;
}

.est h2 {
  color: white;
}

.est {
  background-color: #308b30 !important;
  height: 50px;
  padding-top: 5px;
}

.nema {
  background-color: #8b3030 !important;
  height: 50px;
  padding-top: 5px;
}

#navadres {
  line-height: 20px;
  margin-left: 100px;
  margin-top: 10px;
}

.zagolovoc {
  color: white !important;
}

#indexList {
  margin-top: 20px;
}

#workEx {
  background-color: #e7e6e6;
}

.workCards img {
  border: 1px solid #d4d4d4;
}

.workCards div {
  border: 1px solid #d4d4d4;
  border-top: 0px;
}

.row {
  margin: 0 !important;
}
