#map {
  overflow: hidden;
}

#mapHeader {
  background-color: #343a40;
  width: 100%;
  margin: 0 auto !important;
}

#yndexMap .row {
  margin-bottom: 0px !important;
  background-color: #343a40;
}

#yndexMap {
  background-color: #343a40;
  margin-bottom: 0px !important;
}
